# Ignore all analysis outputs except plots and summary
/analysis_runs/*
!/analysis_runs/summary.csv
!/analysis_runs/plots/
!/analysis_runs/plots/**
!/sample_data/**

# Ignore all checkpoints
/checkpoints/

# Ignore all logs
/logs/

# Ignore all final models
/picomodels/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# No ML info is stored due to size
*.pt

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/